body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4; /* Optional: Set a background color */
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Links */
a {
  text-decoration: none;
}
/* a:hover {
  text-decoration: underline;
} */

/* Forms */
input,
textarea,
select,
button {
  font-family: inherit;
}

/* Lists */
ul,
ol {
  padding: 0;
  margin: 0;
}
li {
  margin: 0;
}
